<p><%= @conversation.title %><br>
<small>Submitted <%= time_ago_in_words(@conversation.created_at) %> ago</small>
</p>
<h3>Comments</h3>

<%= form_for [@conversation, Comment.new] do |f| %>
  <%= f.text_area :body, placeholder: "Add a comment" %><br>
  <%= f.submit "Add Comment" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @conversation.comments) %>
</ul>
